 .firma-icon {
  background-color: #1976d2; /* azul Material */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

mat-icon {
  font-size: 24px;
}