<mat-form-field appearance="outline" class="w-100 small-chips">

    <mat-label>{{label}}</mat-label>
  
    <mat-chip-grid #chipGrid>
      <mat-chip-row 
      *ngFor="let item of selectedItems; let i = index" 
        [removable]="true"
        (removed)="removeItem(item)"
        [ngStyle]="{'background-color': getColor(i)}"> 
        {{ item.name }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
  
      <input
        #filterInput
        type="text"
        matInput
        [formControl]="filterControl"
        [matAutocomplete]="auto"
        matChipInput
        [matChipInputFor]="chipGrid"
      />
    </mat-chip-grid>
  
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectItem($event)">
      <mat-option *ngFor="let option of filteredItems$ | async" [value]="option">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  